# Server
PORT=3005
NODE_ENV=development
JWT_SECRET=change-me-to-a-random-string

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3005/auth/google/callback

# Plex
PLEX_SERVER_URL=http://99.116.182.99:32400
PLEX_TOKEN=

# Overseerr
OVERSEERR_URL=http://localhost:5055
OVERSEERR_API_KEY=

# TMDB
TMDB_API_KEY=

# Radarr / Sonarr
RADARR_URL=http://localhost:7878
RADARR_API_KEY=9008a9c7473d47d3a43e026731568f06
SONARR_URL=http://localhost:8989
SONARR_API_KEY=e068e976a5704fd0a74a4abc7bbb393c

# Admin
ADMIN_EMAIL=elliots@gmail.com
